<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.jomari.eventsplacefinder"
          >

    <uses-permission android:name=" android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.location.gps"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".CompanyMessages"
                android:label="@string/title_activity_company_messages"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".SplashScreen"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Intro"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".AdvancedSearch"
                android:label="@string/app_name"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".LiveChat"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".OpenId"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".AdvancedSearchResult"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".HomePage"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".FilterSearch"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".GetLocation"
                android:theme="@style/AppTheme">
        </activity>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name=".EventWedding"/>
        <activity android:name=".EventBirthday"/>
        <activity android:name=".EventCorporate"/>
        <activity android:name=".EventParty"/>
        <activity android:name=".EventResto"/>
        <activity android:name=".EventSports"/>
        <activity android:name=".EventShoots"/>
        <activity android:name=".EventWorkshop"/>
        <activity android:name=".EventSeminar"/>
        <activity android:name=".EventOthers"/>
        <activity android:name=".SoloDetails"/>
        <activity android:name=".EnterRatingsReviews"/>
        <activity android:name=".ChatLogActivity"/>
        <activity android:name=".LatestMessagesActivity"/>
        <activity android:name=".NewMessageActivity"/>
        <activity android:name=".SoloDetailsBySearch"/>
        <activity android:name=".Filter"/>
    </application>

</manifest>